@model IEnumerable<Item>

@{
    List<string> categories = new List<string>() { "All Catgories" };
    foreach (var item in Model)
    {
        categories.Add(item.Category);
    }
    var unique_items = new HashSet<string>(categories);
}

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Storefront</title>
    <link href="customstyles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Assistant|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body style="font-family: Assistant;">

    <h1 style="text-align: center; font-size: 45pt;">Admin Panel</h1>

    <br />

    <div class="jumbotron" style="width: 150vh;">

        <div class="dropdown">

            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Order by Category
                <span class="caret"></span>
            </button>


            <ul class="dropdown-menu" id="category_drop">
                @foreach (string cat in unique_items)
                {
                    <li><a href="/Admin/Home/@cat">@cat</a></li>

                }
            </ul>

        </div>

        <br />

        <table style="width: 100%; font-size: 12pt; border-spacing: 10vh;">
            <tr class="jumbotron" style="font-size: 15pt;">
                <th>ID</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>Item</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>Description</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>Wholesale Price</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>Retail Price</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>Quantity</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>Category</th>
            </tr>
            <tr>
                <th><br /></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <th style="color: cornflowerblue; font-size: 15pt;" name="code">#@item.ID</th>
                    <th></th>
                    <th>@item.Name</th>
                    <th></th>
                    <th style="color: gray; font-size: 10pt; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 150px;">@item.Descr</th>
                    <th></th>
                    <th>$@item.WPrice</th>
                    <th></th>
                    <th>$@item.Price</th>
                    <th></th>
                    <th style="color: cornflowerblue">@item.Quantity Units</th>
                    <th></th>
                    <th>@item.Category</th>
                    <th>
                        <form asp-controller="home" asp-action="edit" method="get">
                            <input type="hidden" asp-for="@item.ID" name="ID" />
                            <button class="btn btn-info" style="margin: 2px;" type="submit">Edit</button>
                        </form>
                    </th>
                    <th>
                        <form asp-controller="home" asp-action="delete">
                            <input type="hidden" asp-for="@item.ID" name="ID" />
                            <button class="btn btn-danger" style="margin: 2px;" type="submit">Delete</button>
                        </form>
                    </th>
                </tr>
            }

        </table>

        <hr />
        <form asp-controller="home" asp-action="admin">
            <table style="width: 100%; font-size: 12pt; border-spacing: 10vh; margin-top: 5vh;">
                <tr class="jumbotron">
                    <th>
                        <input type="text" class="form-control" placeholder="Code" id="Code" name="Code" required>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Desc" id="desc" name="desc" required>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="WPrice" id="wprice" name="wprice" required>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Price" id="price" name="price" required>
                    </th>
                    <th>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Quantity" id="quantity" name="quantity" required>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Category" id="category" name="category" required>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="ImageURL" id="ImageURL" name="ImageURL">
                    </th>
                </tr>
            </table>
            <br />

            <div style="text-align: center;">
                <button class="btn btn-primary btn-block" type="submit" name="add" id="add">Add Item</button>
            </div>
        </form>


    </div>

    <br />
    
    <div class="col-sm-6">

        <div class="jumbotron" style="text-align: center;">
            <i class="fas fa-file-upload" style="font-size: 45pt;"></i>
            <p style="font-size: 25pt">Inventory Actions</p>
            <p style="font-size: 13pt">Import and export data files to easily switch and edit inventories.</p>

            <form asp-controller="home" asp-action="import" enctype="multipart/form-data">
                <input type="file" name="file" class="btn btn-primary" style="margin: 2px;" />
                <button class="btn btn-primary" style="margin: 2px;" type="submit">Import File</button>
            </form>

            <form asp-controller="home" asp-action="export">
                <button class="btn btn-primary" style="margin: 2px;" type="submit">Export File</button>
            </form>

        </div>

    </div>

    <div class="col-sm-6">

        <div class="jumbotron">
            <i class="fas fa-file-upload" style="font-size: 45pt; text-align: center;"></i>
            <p style="font-size: 25pt">Inventory Actions</p>
            <p style="font-size: 13pt">Import and export data files to easily switch and edit inventories.</p>


        </div>

    </div>

</body>

</html>