@model Main.Models.CatItemView

@{
    List<string> categories = new List<string>() { "All" };
    foreach (var cat in Model.Cats)
    {
        categories.Add(cat);
    }
    var unique_items = new HashSet<string>(categories);
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Storefront</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Views/Home/customstyles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Assistant|Quicksand" rel="stylesheet">

</head>



<body style="font-family: Assistant">

    <h1 style="text-align: center;">Game Shop Online</h1>
    <br />

    <h4>Sort by Category:</h4>

    <div style="margin-bottom: 20px;">
        @foreach (string cat in unique_items)
        {

            <form asp-controller="home" asp-action="sort" method="get" style="float: left;">
                <input type="hidden" asp-for="@cat" name="category" />
                <button class="btn btn-default" style="margin: 2px;" type="submit">@cat</button>
            </form>

        }

            <br />
            <br />

        <h4>Sort by Price:</h4>

        <form asp-controller="home" asp-action="SortLH" method="get" style="float: left;">
            <button class="btn btn-default" style="margin: 2px;" type="submit">High to Low</button>
        </form>

        <form asp-controller="home" asp-action="SortHL" method="get" style="float: left;">
            <button class="btn btn-default" style="margin: 2px;" type="submit">Low to High</button>
        </form>


    </div>



    <br />
    <hr />

    @foreach (var item in Model.Items)
    {
        <div class="panel panel-default" style="float: left; width: 40vh; height:30vh; margin: 3vh; text-align: center">

            <div class="panel-heading">
                <p style="font-size: 20pt;">@item.Name</p>
                <p style="font-size: 15pt;">@item.Category</p>
            </div>

            <div class="panel-body" style="font-size: 13pt;">

                <div style="float: left;">
                    <img height="100vh" src="@item.ImageURL" />
                </div>

                <div style="float: right;">
                    <p style="font-size: 25pt;">$@item.Price.00</p>
                    <button class="btn btn-primary" style="font-size: 12pt; width: 20vh; height:5vh; margin: 2px;" type="submit">Add to Cart</button>
                </div>

            </div>

        </div>
    }


</body>
</html>