@model IEnumerable<Item>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Storefront</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1 style="text-align: center;"><span class="label label-default">Storefront Inventory</span></h1>
    <br />
        <table style="width: 100%; font-size: 15pt; border-spacing: 10vh;">
            <tr class="jumbotron">
                <th>ID</th>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Code</th>
                    <th class="label label-primary">@item.Name</th>
                    <th>@item.Desc</th>
                    <th>$@item.Price</th>
                    <th>@item.Quantity Units</th>
                    <th>@item.Category</th>
                </tr>
            }
        </table>
</body>

</html>